.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px; 
    position: relative;
    left:50px
}

.searchBar {
    display: flex;
    align-items: center;
    width: 100%; 
}

.inputBox {
    height: 3rem;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    font-size: 16px;
    width: 100%;
}

.button {
    padding: 7px;
    background-color: #592e83;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
}

.button:hover {
    background-color: #9b72cf;
}

.error {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center; 
}

.resultBox {
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 900px;
    transition: all 0.3s ease; 
    margin-top: 20px; 
    align-self: stretch;
    z-index: 10;
}

.resultBox:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.phonetic h3,
.definition h3 {
    margin-bottom: 10px;
    color: #592e83; 
}

.phonetic {
    margin-bottom: 15px;
}

.audio {
    display: block;
    margin-top: 10px;
}

.definition {
    margin-top: 10px;
}

.definition p {
    margin: 5px 0;
    font-size: 14px;
}

.definition em {
    font-style: italic;
    color: #555; 
}
