h1{
    font-weight: bold;
    font-size: 30px;
}
.quizListContainer {
    background-color: #d8c0f7; 
    padding: 20px;
    min-height: 100vh;
    min-width: 100vw;
    margin-left:-150px;
    text-align: center;
}

.quizList {
    list-style: none;
    padding: 0;
}
.quizItem {
    background-color: #f0f0f0; 
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 90%; 
    max-width: 70vw; 
}

.quizItem:hover {
    background-color: #aaa; 
    border-color: #888; 
}